.blank {
  color: red;
}

.buttons {
  display: flex;
  justify-content: center;
}
button {
  margin: 2px;
}

@media (max-width: 460px) {
  .buttons {
    flex-direction: column;
    align-items: center;
  }
}
